html {
  margin: 0;
  height: 100%;
  
}

body {
  margin:0;
  padding: 5vw;
  font: 16px Helvetica, Arial, sans-serif;
  background-image: linear-gradient(180deg ,white, rgb(176, 200, 228));
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(36, 35, 35);
}

.forms textarea {
  width: 100%;
  margin: 1vh 0vh;
  border: none;
}

.commentSection {
  border-radius: 0.7vh;
  background-color: rgb(230, 217, 217);
  padding: 1vh 1vw;
}

.comment p{
  font-size: 1rem;
}

.navBar {
  background-color: #79cc7b;
  width: 50%;
  border-radius: 0.7vh;
  margin: 2vh auto;
  padding: 2vh 2vw;
}

a {
  font-size: 1.6rem;
  margin: 0vw 1vw 0vw 0vw;
  padding-left: 1vw;
  text-decoration: none;
  color: #b679cc;
}

li {
  list-style-type: none;
}

.recipeSoloImg {
  width: 30vw;
  margin: auto;
}

.imgThumbnail {
  width: 6vw;
  height: 10vh;
}

.emailTaken {
  color: crimson;
}

.directions {
  margin: 5vh 0vh;
}

.pageTitle {
  font-size: 4rem;
}

.forms {
  width: 60%;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  margin: 4vh 0vw;
}

.forms input {
  margin: 1vh 0vh;
  border: none;
  width: 100%;
}

.listedItems {
  list-style-type: circle;
  font-size: 1.3rem;;
}

p {
  font-size: 1.6rem;
}

.innerContent {
  border-radius: 0.7vh;
  width: 50%;
  margin: auto;
  background-color: #c3d4e8;
  padding: 1vh 2vw;
}

button {
  color: white;
  border-radius: 0,7vh;
  background-color: rgb(121, 160, 204);
}